.textblock-wrap:nth-child(even){
	.textblock-wrap-container{
		flex-direction: row-reverse;
	}
}
.textblock-wrap-image{
	img{
		max-width: 535px;
		width: 100%;
	}
	
}
.textblock__pic{
	display: none;
}
.textblock-wrap-image-pic{
	margin-top: 60px;
}
.benefits{
	margin-top: 80px;
	&-title{
		@include fonts($comfortaa, 45px, 700, 50px, $dark_gray);
		text-align: center;
	}
	&-block{
		margin-top: 50px;
		display: flex;
		justify-content: center;
		gap: 30px;
		&-item{
			background-color: $dark_blue;
			border-radius: 5px;
			padding: 30px 40px;
			width: 100%;
			max-width: 25%;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 15px;
			&-image{
				max-width: 52px;
				width: 100%;
				height: 52px;
				padding: 10px;
				border-radius: 5px;
				background-color: $white;
			}
			&-text{
				max-width: 150px;
				p{
					@include fonts($roboto, 20px, 700, 26px, $white);
					text-align: center;
				}
			}
		}
	}
}